.side-picture
    @include clearfix
    float: right
    width: 30%
    margin: 1rem 1rem 1rem 4rem
    img
        width: 100%
        border-radius: 5%
        margin-bottom: .5rem
    &__text
        margin-bottom: 1rem !important
        color: #464646
        font-weight: 300
        text-align: left !important
    &__source
        display: inline-block
        margin: 0 .5rem 0 0 !important
    &__source-link
        //@include link-source
